%h1 New Comment
= form_for [@report, @report.comments.build] do |f|
  .field
    = f.label :body
    = f.text_area :body, :rows => 10, :cols => 30, :class => 'span8'
  .actions.form-actions
    = f.submit 'Save', :class => 'btn btn-primary'
