defaults: &defaults
  github:
    key: 'Your Github Client ID'
    secret: 'Your Github Client Secret'
    organization: 'Organization Name'

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
  github:
    key: <%= ENV['GITHUB_KEY'] %>
    secret: <%= ENV['GITHUB_SECRET'] %>
    organization: <%= ENV['GITHUB_ORG'] %>
