// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-top: 40px;
}

.report {
  padding-bottom: 3em;
  border-bottom: 3px solid #666;
}

.comment {
  padding: 0.5em 0 2em 0.5em;
  border-bottom: 1px solid #eee;
}

.new_comment {
  margin-top: 2em;
}

.report:last-child,
.comment:last-child {
  border-bottom: none;
}

